@font-face {
	font-family: Lady_Radical;
	src: url(Fonts/Lady_Radical.ttf);
	font-weight: normal;
}



.animated-image {
	
	position: absolute;
	animation: MoveUpDown 1s linear infinite;
}


img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
