@font-face {
	font-family: Lady_Radical;
	src: url(Fonts/Lady_Radical.ttf);
	font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.animated-image {
	
	position: absolute;
	animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
	0% {
		top: 65%;
	}
	50% {
		top: 68%;
	}
	100% {
		top: 65%;
	}
}
