@font-face {
    font-family: nokia;
    src: url(/nokiafc22.ttf);
}

body {
    background-color: #1c1c1c;
    font-family: nokia;
}

img {
    box-shadow: 15px 15px 10px black;
}

img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-nav {
    width: 100%;
    background-color: rgba(23, 23, 23, 0.98);
    box-shadow: 0 2px 2px #000000;
    z-index: 9999;
    padding: 15px;
    position: relative;
    list-style: none;
    text-align: center;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 120%;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    border-bottom: 3px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 3px solid #fff;
}

.button {
    position: absolute;
    top: 0%;
    bottom: 5%;
    left: 0%;
    right: 0%;
}

.hidden {
    display: none;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.loader {
    border: 16px solid #1c1c1c;
    /* Black */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

